<% provide(:title, 'Rails Login App') %>

<div class="jumbotron">
	<h1>Rails Login App</h1>
	<h2>Click <%= link_to "here", signup_path %> to sign up and create your record label!</h2>
<!--only show when logged in	
<div class="row">
	<div class="col-md-12">
		<p>Your record label blah...</p>
	</div>
	<div class="col-md-12">
		<p>Click <%= link_to "here", users_path %> to check out the other record labels</p>
	</div>
</div>-->
</div>